//---------------------------------------------------------------------------
//
// Name:        AnimatorApp.rc
// Author:      Jaskmar
// Created:     2012-11-17 11:55:42
// Description: 
//
//---------------------------------------------------------------------------

#include <wx/msw/wx.rc>
